#header {
    padding: 10px;
}

.nome {
    text-align: center;
    font-size: 90px;
    border-radius: 50px;
    background-color: green;
    color: white;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-width: 10px;
}

.Posision {
    text-align: center;
    display: inline-block;
    width: 45%;
    padding: 1.1%;
}

body {
    background-color: rgb(221, 200, 64);
    font-family: 'Montserrat', sans-serif;

}

.buttom {
    text-decoration: none;
    background-color: green;
    color: white;
    font-size: 100%;
    padding: 2%;
    width: 45%;
    border-radius: 50px;
    border-width: 10px;
    border-style: solid;
    border-top: none;
    border-left: none;
}

.fundoV {
    background-color: green;
    color: white;
    padding: 20px;
    border-radius: 150px;
    width: 50%;

}

a:hover {
    background-color: white;
    color: green;
}

.paragrafo {
    color: white;
    background-color: green;

}

div ol li:nth-of-type(even) {
    font-style: italic;
}

p {
    font-size: 22px;
    color: #323f3a;
}

ol li {
    text-align:justify;
}

ol {
    text-align: center;
}